@page
@model TaskManager.Pages.Managers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.ActivityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.ActivityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.ReleaseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.ReleaseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.ActivityExplanation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.ActivityExplanation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manager.ID">Kaydet</a> |
    <a asp-page="./Index">Listeye geri dön.</a>
</div>
